body {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: justify;
  font-size: 100%;
  font-family: 'Cambria', 'Open Sans', 'Lato', sans-serif;
  color: #333;
}
.layout {
  display: flex;
  min-height: 100vh;
  background: #f8f8f8;
}

.sidebar {
  max-width: 200px;
  background: #e6e6e6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin-top: 10px;
}

.nav ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
}

.nav li {
  margin: 12px 0;
}

.nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  color: #333;
  transition: 0.2s;
}

.nav a:hover {
  background: #d4d4d4;
}
.nav a.active {
  background: #4a90e2;
  color: white;
}

.main-content {
  flex: 1;
  padding: 40px;
  box-shadow: none;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #e6e6e6;
}

.socials {
  margin-bottom: auto;
  display: grid auto-flow;
  gap: 20px;
}
.socials a {
  color: #333;
  font-size: 20px;
  transition: color 0.2s;
}